@charset "EUC-KR";

/* 폰트 */
	@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
	
/* 이벤트페이지 제목1+제목2 */
.event_sub {
	margin: 50px 0 0 0 ;
}

/* 이벤트페이지 제목1  */
.event_text1 {
  		font-family: 'Noto Sans KR', sans-serif;
	font-size: 43px;
	font-weight: 700;
	line-height: 1.2;
  		letter-spacing: -3px;
  		/* margin-bottom: 20px; */	/* 제목1, 제목2 사이 간격 */
}

	.container {
	width: 100%;
	padding: 0 200px 100px 200px;
	margin: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
}

	.table {
	padding: 20px 0;
	text-align: center;
}

/* 제목 스타일 */
.re_title a {
	text-decoration: none;
	color: #000;
}

/* 페이징 */
.pagination {
	display: inline-block;
	margin: 20px 0;
}		
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}		
/* 현재페이지 스타일 */
.pagination a.active{
	background-color: #128853;
	color: #fff;
	font-weight: bold;
}		
.pagination a:hover:not(.active){
	background-color: #ddd;
}

/* 글쓰기 버튼 */		
.writeBtn {
	margin: 0px 0px 60px 0px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
	float: right;
}