@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
	
/* 하유리: 공지페이지 제목 수정(23.07.29.) */
.notice_sub {
	margin: 50px 0;
	padding: 178px 0 24px 0;		/* 하유리: 헤더 영역만큼 아래로 내림(23.07.25.) */
												/* 하유리: 제목 주변 여백 수정(23.07.29.)  */
	/*width: 1519.2px;						!* 하유리: 창 너비 줄여도 요소 밀리지 않게 너비 지정(23.07.31.) *!*/
}

/* 하유리: 공지페이지 제목 수정(23.07.29.)  */
.notice_text {
 	font-family: 'Noto Sans KR', sans-serif;
	font-size: 32px;						/* 하유리: 폰트 크기 수정(23.07.29.) */
	font-weight: 700;
	line-height: 1.2;
  	letter-spacing: -1px;				/* 하유리: 제목 자간 수정(23.07.29.) */
}

.container {
	/* width: 100%;	*/								/* 주석 처리(23.08.12.) */
	/* padding: 0 200px 100px 200px; */	/* 주석 처리(23.08.12.) */
	width: 920px;										/* 추가(23.08.12.) */
	margin: 0 auto;									/* 하유리: 여백 수정(23.07.31.) */
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

/* 하유리: 테이블 */
.table {
	padding: 20px 0;
	text-align: center;
	/* width: 920px;	*/			/* 하유리: 창 너비 줄여도 요소 안 밀리게 너비 지정(23.07.31.) */
	width: 100%;					/* 추가(23.08.12.) */
}

/* 하유리: 제목 스타일 */
.notice_title a {
	text-decoration: none;
	color: #000;
}

/* 하유리: 페이징 */
.pagination {
	display: inline-block;
	margin: 20px 0;
}		

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}		

/* 현재페이지 스타일 */
.pagination a.active{
	background-color: #128853;
	color: #fff;
	font-weight: bold;
}		

.pagination a:hover:not(.active){
	background-color: #ddd;
}

/* 글쓰기 버튼 */		
.writeBtn {
	margin: 0px 0px 60px 0px;
	padding: 5px 10px;						/* 하유리: 버튼 안쪽 여백 수정(23.07.31.) */
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
	float: right;
}

/* 광고(23.08.11.) */
.ad {
    position: fixed;
    width: 95px;
    top: 237px;
    right: 51.5px;
}

@media screen and (max-width: 1260px) {		/* 특정 창크기에서 특정요소 숨기기(23.08.12.) */
  .ad {
    display: none;
  }
} 

.ad .ad_img, .ad .ad_div {
	width: 95px;
}

.ad .ad_div {
	border: 1px solid #e2e2e2;
	margin-top: 10px;
    background-color: #fff;
}

.ad .ad_div a {
	text-decoration: none;		
}

.ad .ad_div p {
	padding: 3px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #333;
}

.ad_div p:hover {
    cursor: pointer;
}