@charset "UTF-8";

/* css 초기화 코드 적용 */
@import "reset.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* { 
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
}

/* .writeBtn {
	padding: 10px;
}

.container {
	width: 100%;
	padding: 0 200px;
	margin: auto;
	text-align: center;
}

게시판 제목: 리뷰게시판
.subject {
	font-size: 24px;
	margin-bottom: 20px;
}

.table {
	padding: 20px 0;
	text-align: center;
}

제목 스타일
.re_title a {
	text-decoration: none;
	color: #000;
}

.pagination {
	display: inline-block;
	margin: 20px 0;
	display: text;
	justify-content: center;
	align-items: center;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

현재페이지 스타일
.pagination a.active{
	background-color: #128853;
	color: #fff;
	font-weight: bold;
}

.pagination a:hover:not(.active){
	background-color: #ddd;
}

.writeBtn{
	margin: 0px 0px 60px 0px;
	padding: 5px 10px;
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
	float: right;
} */

.container {
	width: 100%;
	padding: 0 200px;
	margin: auto;
	text-align: center;
}

/* 게시판 제목: 리뷰게시판 */
.subject {
	font-size: 24px;
	margin-bottom: 20px;
}

.table {
	padding: 20px 0;
	text-align: center;
}

/* 제목 스타일 */
.re_title a {
	text-decoration: none;
	color: #000;
}

.pagination {
	display: inline-block;
	margin: 20px 0;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

/* 현재페이지 스타일 */
.pagination a.active{
	background-color: #128853;
	color: #fff;
	font-weight: bold;
}

.pagination a:hover:not(.active){
	background-color: #ddd;
}

.writeBtn{
	margin: 0px 0px 60px 0px;
	padding: 7px 10px;
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
	float: right;
}