@charset "UTF-8";

/* ==================== 주문 페이지 ==================== */
main {
  color: var(--black-3);
  font-size: 1.2rem;
}

main h2,
main h3 {
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--black-3);
}

main h2 {
  font-size: 2rem;
}

main h3 {
  font-size: 1.4rem;
}

/* ==================== 주문 흐름 ==================== */
main div.flow {
  font-size: 1.5rem;
  display: flex;
  line-height: 70px;
  background-color: var(--white-f9);
  margin-bottom: 50px;
}

main div.flow p {
  flex: 1;
  text-align: center;
}

main div.flow p.arrow {
  flex: 0 0 40px;
  position: relative;
  overflow: hidden;
  z-index: auto;
}

main div.flow p.arrow::before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  rotate: 45deg;
  left: -110%;
  border: 1px solid var(--c-point);
  box-sizing: border-box;
  z-index: 1;
}

main div.flow p.now.arrow.back,
main div.flow p.now.arrow.front::before {
  background-color: var(--c-point);
}

main div.flow p.now.arrow.back::before {
  background-color: var(--white-f9);
}

main div.flow p.now:not(.arrow) {
  background-color: var(--c-point);
  color: var(--black-3);
  font-weight: 900;
}

main div.flow p.not-now {
  color: #888888;
}

/* ==================== 구매자 정보 ==================== */
/* ==================== 받는 사람 정보 ==================== */
/* ==================== 결제 정보 ==================== */

main div.info-block {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 50px;
}

main div.info-block div.line {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

div.line div.line-title {
  flex: 0 150px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  background-color: var(--c-point);
  color: var(--black-3);
  font-weight: 700;
}

div.line div.line-content {
  padding: 10px;
  flex: 1;
  background-color: var(--white-f9);
}

div.line div.line-content button {
  all: unset;
  margin-left: 10px;
  background-color: var(--c-point);
  color: var(--black-3);
  padding: 5px 10px;
  cursor: pointer;
}

div.line div.line-content button:hover {
  background-color: var(--c-point-h);
  color: white;
}

div.line-content div.pay-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 5px;
  width: 400px;
}

div.info-block.pay div.line-content div.form-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.info-block.pay div.line-content div.form-input input {
  all: unset;
  flex: 1;
  background-color: var(--white-e);
  padding: 10px;
  text-align: center;
}

div.info-block.to div.line .line-content input {
  border: none;
  box-sizing: border-box;
  background-color: var(--white-f9);
  padding: 10px 0;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
}

div.info-block.to div.line div.line-title label {
  font-weight: 700;
}

/* ==================== 결제 상품 목록 ==================== */
div.item-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

div.item-box div.list-item {
  padding: 10px;
  display: flex;
  background-color: var(--white-f9);
}

div.item-box div.list-item div {
  display: flex;
  align-items: center;
  justify-content: start;
}

div.item-box div.list-item div.name {
  flex: 1;
}

div.item-box div.list-item div.amount {
  margin-right: 50px;
}

/* ==================== 버튼 ==================== */
main>form>label {
  all: unset;
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
  background-color: var(--c-point);
  color: var(--black-3);
  font-weight: 700;
  font-size: 1.5rem;
}

main>form>label:hover {
  background-color: var(--c-point-h);
  color: white;
}

/* ==================== 구매자 정보와 받는 사람 일치할 경우 누르는 버튼 스타일 ==================== */
button.info-setting {
  all: unset;
  padding: 5px 10px;
  background-color: var(--c-point);
  color: var(--black-3);
  font-size: 1rem;
  cursor: pointer;
}

button.info-setting:hover {
  background-color: var(--c-point-h);
  color: var(--white-f);
}