@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 하유리: 전체 div(23.07.27.) */
.map_wrap {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0 201px 100px 201px;
}

/* 하유리: '위치' 텍스트(23.07.27.) */
.map_sub {
	padding: 178px 0 24px 0;			/* 하유리: 헤더 영역만큼 아래로 내림(23.07.25.) */
													/* 하유리: 제목 주변 여백 수정(23.07.29.)  */
	margin: 50px 0;							/* 하유리: 제목 주변 여백 수정(23.07.29.)  */
}

/* 하유리: 이벤트페이지 제목1(23.07.27.)  */
/* 하유리: 수정(23.07.29.) */
.map_text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;					/* 하유리: 제목 폰트크기 수정(23.07.28.) */
    font-weight: 700;
    line-height: 1.2;		
    letter-spacing: -1px;			/* 하유리: 제목 자간 수정(23.07.29.) */
 }
 		
/* 하유리: 지도(23.07.27.) */ 		
.map iframe {   			
	margin: 0 0 30px 0;
	width: 1000px;
	height: 450px;
	border: 1px solid #e2e2e2;
}

/* '샐러드다이소 안내' 텍스트(23.07.27.) */
.map_info_span {
	font-size: 24px;
    font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    word-break: keep-all;
    float: left;
    margin-left: 58px;
}

/* 안내사항 전체(23.07.27.) */
.map_info {
	margin: 45px 59px;
}

/* 하유리: 안내사항 <ul>(23.07.27.) */
.flexBox {
    display: -webkit-flex;
    flex-flow: row wrap;
    overflow: hidden;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #999;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 하유리: 안내사항 설명부분(23.07.27.) */
.flexBox>li {
    position: relative;
    width: calc(100% / 2);
    box-sizing: border-box;
    margin: -1px 0 0 -1px;
    padding: 30px;
    border: 1px solid #ddd;
    border-right: none;
    text-align: left;
}

/* 하유리: 글머리기호가 달린 소제목(23.07.27.) */
.flexBox .sTitle {
    margin: 10px 0;
   	font-size: 20px;
    font-weight: 600;
    color: #333;
    word-break: keep-all;
    padding-left: 15px;			/* 들여쓰기 */
    position: relative;
    padding-left: 15px;
}

.sTitle.bullet {
}

/* 하유리: 글머리기호(23.07.27.) */
.sTitle.bullet::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 22%;
    width: 3px;
    height: 12px;
    margin-top: 3px;
    background: #383d53;
    transform: rotate(30deg);
    margin-left: -10px;
}

/* 하유리: <strong>(23.07.27.) */
.flexBox strong {
    font-weight: 600;
    color: #333;
}

/* 하유리: 설명(23.07.27.) */
.flexBox dd {
    line-height: 1.8;
    font-weight: 300;
}

/* 하유리: 영업시간 설명 */
.sTitle_margin {
	    margin-bottom: 19px;	/* 좌측열과 높이 맞추기 */
}

/* 광고(23.08.11.) */
.ad {
    position: fixed;
    width: 95px;
    top: 237px;
    right: 51.5px;
}

@media screen and (max-width: 1376px) {		/* 특정 창크기에서 특정요소 숨기기(23.08.12.) */
  .ad {
    display: none;
  }
} 

.ad .ad_img, .ad .ad_div {
	width: 95px;
}

.ad .ad_div {
	border: 1px solid #e2e2e2;
	margin-top: 10px;
	background-color: #fff;
}

.ad .ad_div a {
	text-decoration: none;		
}

.ad .ad_div p {
	padding: 3px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #333;
}

.ad_div p:hover {
    cursor: pointer;
}