@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 하유리: 리뷰페이지 제목 수정(23.07.29.) */
.review_sub {
	margin: 50px 0;
	padding: 178px 0 24px 0;                           /* 하유리: 헤더 영역만큼 아래로 내림(23.07.25.) */
}                                                         /* 하유리: 제목 주변 여백 수정(23.07.29.)  */

/* 하유리: 이벤트페이지 제목 수정(23.07.29.)  */
.review_text1 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 32px;                                       /* 하유리: 폰트 크기 수정(23.07.29.) */
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -1px;                                 /* 하유리: 제목 자간 수정(23.07.29.) */
}

.container {
	width: 100%;
	/*         display: flex;
                   justify-content: center; */
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	padding-bottom: 10px;                              /* 하유리: 버튼-footer 사이 여백 추가(23.07.30.) */
}

/* 중앙정렬 */
.content_table {
	width: 100%;
	/* display: flex; */                                    /* 하유리: 주석 처리(23.08.01.) */
	justify-content: center;
}

/* 하유리: 행 간격 띄우기(23.07.17.) */
.content_table table {
	text-align: left;   /* th 왼쪽정렬 */
	border-collapse: separate;
	border-spacing: 10px 20px;
	margin-top: -21px;                                    /* 하유리: 테이블 위쪽 여백 줄이기(23.07.30.) */
	margin: 0 auto;                                       /* 하유리: 테이블 중앙 정렬(23.08.01.) */
}

/* 하유리: 글자-input박스 간 간격(23.07.17.) */
.content_table th {
	font-weight: normal;
	flex: left;
	padding-right: 100px;
}

.content_table input, textarea, .review_preview {
	padding: 5px 5px;
}

.review_preview {
	margin-top: -5px;
}

/* input, textarea 스타일 지정 */
.content_table .content_input {
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 640px;
	height: 44px;
}

.content_table .content_text {
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 640px;
	height: 250px;
}

.content_table .content_input_file {
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 640px;
}

/* input, textarea 클릭 시 생기는 테두리 스타일 지정(23.07.17.)  */
.content_text:focus{
	outline: 1px solid #000;
}

.content_input_file:focus {
	outline: 1px solid #000;
}

/* 업로드 이미지 파일이름 뜨는 input박스 */
.review_imgName {
	border: none;   /* 테두리 없애기 */
}

/* 버튼 */

/* 버튼 <div> */
.btn_wrap {
	display: flex;                                          /* 하유리: 버튼 테이블 아래쪽에 배치(23.08.01.) */
	justify-content: space-between;                     /* 하유리: 버튼 테이블 아래쪽에 배치(23.08.01.) */
	margin: 0 139px;                                    /* 하유리: 버튼 좌우 여백 지정(23.08.01.) */
}

/* 좌측 버튼 2개<div> */
.content_btn1 {
	float: left;                                             /* 하유리: 버튼 왼쪽 정렬 */
	/* margin-left: 10px; */                              /* 하유리: 주석 처리(23.08.01.) */
}

/* 우측 버튼 3개<div> */
.content_btn2 {
	float: right;                                          /* 하유리: 버튼 우측 정렬 */
	/* margin-right: 10px; */                           /* 하유리: 주석 처리(23.08.01.) */
}

.contentBtn{
	margin: 0px 0px 60px 0px;
	padding: 5px 10px;
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
}

.contentBtn:focus {
	outline: none;                                       /* 하유리: 버튼 클릭 시 생기는 테두리 없애기(23..07.31.) */
}

/*       .line {
               display: flex;
               align-items: center;
               margin-bottom: 10px;
               flex-direction: row;
            } */

.img img, .line .line-userId {
	display: inline-block;                                 /* 하유리: 지금 댓글 틀 맞추려면 필수(23.08.02.) */
}

.img img {
	display: flex;
}


/* 입력댓글 전체<div> */
.line {
	text-align: left;                                       /* 하유리: 왼쪽 정렬(23.08.01.) */
	/* margin-bottom: 30px; */                        /* 하유리: 하단 여백 추가(23.08.01.) */
	margin-top: 30px;                                    /* 하유리: 상단 여백 추가(23.08.02.) */
}

/* !!! 자식 댓글 들여쓰기 */
.line-child {
	margin-left: 20px; /* 들여쓰기할 크기를 지정합니다. */
	padding-left: 20px;
}

/* 입력된 댓글_id */
.line-userId {
	flex-grow: 1;
	text-align: left;                                       	/* 하유리: 좌측 정렬(23.08.01.) */
	font-weight: 700;                                    	/* 하유리: 폰트 굵기 지정(23.08.01.) */
	vertical-align: 9.3px;                                 	/* 하유리: 아이콘-id 세로 중앙정렬(23.08.02.) */
	margin-left: 10px;                                    	/* 하유리: 좌측 여백 지정(23.08.02.) */
	color: #000;                                          		/* 하유리: 폰트 색상 지정(23.08.02.) */
}

/* 입력된 댓글_내용 */
.line-title {
	width: 800px;                                          	/* 하유리: 댓글 너비 지정(23.08.01.) */
	/* font-weight: bold; */                              /* 하유리: 주석 처리(23.08.01.) */
	/* margin-right: 10px; */                           	/* 하유리: 주석 처리(23.08.01.) */
	padding:7px 0;                                       	/* 하유리: 상하 여백만 주도록 변경(23.08.01.) */
	/* background-color: #128853; */              /* 하유리: 배경색 주석 처리(23.08.01.) */
	color: #333;                                          		/* 하유리: 폰트 색상 변경(23.08.01.) */
	margin-left: 37px;                                    	/* 하유리: 좌측 여백 지정(23.08.02.) */
	margin-top: -10px;                                    /* 하유리: 아이디-댓글 내용 사이 여백 지정(23.08.02.) */
}

/* 입력된 댓글_날짜 부분 */
.line-content {
	flex-grow: 1;
	color: #828c94;                                       	/* 하유리: 폰트 색상 지정(23.08.02.) */	/* 하유리: 색상 변경(23.08.02.) */
	font-weight: 400;                                    	/* 하유리: 폰트 굵기 지정(23.08.02.) */	/* 하유리: 굵기 변경(23.08.02.) */
	font-size: 13px;                                       	/* 하유리: 폰트 크기 지정(23.08.02.) */
	margin-left: 37px;                                    	/* 하유리: 좌측 여백 지정(23.08.02.) */
	letter-spacing: -0.3px;                              	/* 하유리: 자간 지정(23.08.02.) */
	display: inline-block;									/* 하유리: inline-block요소로 변경(23.08.02.) */
  		width: 138px;												/* 하유리: 너비 지정(23.08.02.) */
}

/* '대댓글' 버튼 */
.line-comment {
	font-size: 13px;											/* 하유리: 폰트 크기 지정(23.08.02.) */
    color: #828c94;											/* 하유리: 폰트 색상 지정(23.08.02.) */
    font-weight: 400;										/* 하유리: 폰트 굵기 지정(23.08.02.) */	/* 하유리: 굵기 변경(23.08.02.) */
    display: inline;											/* 하유리: 인라인요소로 지정(23.08.02.) */
    border: none;											/* 하유리: 버튼 테두리 제거(23.08.02.) */
    background-color: #fff;								/* 하유리: 배경 지정(23.08.02.) */
    margin-left: -21px;										/* 하유리: 좌측으로 이동(23.08.02.) */
}

button:focus {
  		 outline:none; 
 	-webkit-tap-hignlight-color:transparent;		/* 하유리: 버튼 클릭 시 테두리 안 생기게(23.08.02.) */
}

/* 댓글작성 폼 */
#commentForm2 {
	float: left;
	margin-left: 139px;                                    	/* 하유리: 좌측 여백 지정(23.08.01.) */
	margin-bottom: 100px;                              /* 하유리: 하단 여백 지정(23.08.01.) */
	border-top: 7px solid #eeeeee;                 	/* 하유리: 글쓰기 테이블 - 댓글 작성폼 사이의 구분선(23.08.01.) */
	padding-top: 50px;                                 	/* 하유리: 구분선 - 댓글 작성폼 사이의 여백(23.08.01.) */
	width: 832px;                                          	/* 하유리: 너비 지정(23.08.01.) */
}

/* 댓글작성폼 상단 '댓글' 텍스트' */
#commentForm2 p {
	text-align: left;                                       	/* 하유리: 좌측 정렬(23.08.01.) */
	font-size: 20px;                                       	/* 하유리: 폰트 크기 지정(23.08.01.) */
	font-weight: 700;                                    	/* 하유리: 폰트 굵기 지정(23.08.01.) */
	letter-spacing: -1px;                                 	/* 하유리: 자간 지정(23.08.01.) */
}

/* 댓글 입력 부분 */
.comment_input {
	height: 61px;                                          	/* 하유리: 높이(23.08.01.) */
	border-radius: 10px;                                 	/* 하유리: 테두리 가장자리 둥글게 지정(23.08.01.) */
	display: flex;                                          	/* 하유리: 요소 일정간격으로 배열(23.08.01.) */
	justify-content: space-between;
	align-items: center;                                 	/* 하유리: 세로 중앙 배열(23.08.01.) */
	margin-bottom: 10px;                              	/* 하유리: input 외부에 여백 지정(23.08.01.) */
}

/* 댓글 적는 사람 아이콘 */
#commentForm2 img {
	height: 28px;                                          	/* 하유리: 크기 지정(23.08.01.) */
}

/* 댓글_id, 내용 입력 input */
.comment_id, .comment_text, .comment_text2, #commentBt, .reply-btn {
	border: 1px solid #e3e3e3;                       	/* 하유리: 테두리 지정(23.08.01.) */
	height: 35px;                                          	/* 하유리: 높이 지정(23.08.01.) */
	border-radius: 8px;                                 	/* 하유리: 테두리 가장자리 둥글게 지정(23.08.01.) */
	font-weight: 300;                                    	/* 하유리: 폰트 크기 지정(23.08.01.) */
	outline: none;                                       		/* 하유리: 클릭 시 생기는 테두리 없애기(23.08.01.) */
}

/* 댓글_id 입력 input */
.comment_id {
	width: 150px;                                          	/* 하유리: 너비 지정(23.08.01.) */
	padding: 10px;                                       	/* 하유리: input 내부 여백 지정(23.08.01.) */
}

/* 댓글_내용 입력 input */
.comment_text, .comment_text2 {
	width: 530px;                                          	/* 하유리: 너비 지정(23.08.01.) */
	padding: 10px;                                       	/* 하유리: input 내부 여백 지정(23.08.01.) */
}

.comment_text2 {
	margin: 10px 10px 0 36px;
}

/* 댓글입력 버튼 */
#commentBt, .reply-btn {
	width: 105px;                                          	/* 하유리: 너비 지정(23.08.01.) */
	font-weight: 500;                                    	/* 하유리: 폰트 굵기 지정(23.08.01.) */
}

/* 입력된 댓글 전체<div> */
#commentList {
	border: 1px solid #e2e2e2;                        	/* 하유리: 테두리 지정(23.08.02.) */
	border-radius: 15px;                                 	/* 하유리: 모서리 둥글게 지정(23.08.02.) */
	padding: 0 20px 30px 20px;                     	/* 하유리: 안쪽 여백 지정(23.08.02.) */
}